.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.left-panel {
  background-color: #0095db;
  color: #fff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
  }
}

.right-panel {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.login-card {
  width: 100%;
  max-width: 350px;
  text-align: center;

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #333;
  }

  .form-group {
    text-align: left;
    margin-bottom: 1.2rem;

    label {
      display: block;
      font-size: 0.9rem;
      margin-bottom: 0.3rem;
      color: #333;
    }

    input {
      width: 100%;
      padding: 0.6rem 0.8rem;
      border: 1px solid #bdbdbd;
      border-radius: 6px;
      outline: none;
      font-size: 1rem;

      &:focus {
        border-color: #0095db;
      }
    }
  }

  .password-wrapper {
    position: relative;

    input {
      padding-right: 2.5rem;
    }

    .toggle-btn {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #0095db;
      border: none;
      color: #fff;
      width: 2.2rem;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .login-btn {
    background-color: #0095db;
    color: #fff;
    border: none;
    padding: 0.6rem 2rem;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    margin-top: 0.8rem;
    transition: background 0.3s;

    &:hover {
      background-color: #007bb8;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  .register-text {
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #333;

    .register-link {
      color: #0095db;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}